* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #9fdccb;
    color: blue;
}

main > p {
    border: solid magenta 1px;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}