.jumbotron {
    background-image: url("./img/pizza.png");
}

.jumbotron h1 {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,255.6));
}